./tests
./__tests__
./build
./config
./coverage
./dist
./doc
./mock
./node_modules
./npm-tmp
./play
./src
./temp
./web
./scripts
./omc
*.js
*.ts
*.md
*.json
*.txt
.*rc
.pre-npm-publish.js
.pre-git-cmd.js
